<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
    <a id="login_button" href="https://kauth.kakao.com/oauth/authorize?client_id=f0d91450e5908256bd3d810dbc00040c&redirect_uri=http://localhost:3000/oauth&response_type=code&scope=profile,account_email,friends,talk_message,gender,age_range"><img src="src/kakao_login.png"></button>
</body>
</html>